{% extends "base2.html" %}
{% load static %}
{% load humanize %}
{% load plotly_dash %}
{% block content %}


<head>
<style>
    .material-icons{
    display: inline-flex;
    vertical-align: top;
}

  </style>
</head>
{% if user.is_superuser %}
  <nav>
    <div class="nav-wrapper grey darken-2">
      <a href="{% url 'main' %}"  class="brand-logo"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'updateData'%}">Update Data</a></li>
      </ul>
    </div>
  </nav>
{% endif %}
    <div class="main">
    <div class="container">
    <br>
    <i class="material-icons medium">search</i>
    <form class="row">

    <select class="browser-default" name="filter_town" id="id_filter_town">
      <option value="ANG MO KIO">ANG MO KIO</option>
      <option value="BEDOK">BEDOK</option>
      <option value="BISHAN">BISHAN</option>
      <option value="BUKIT MERAH">BUKIT MERAH</option>
      <option value="BUKIT BATOK">BUKIT BATOK</option>
      <option value="CENTRAL AREA">CENTRAL AREA</option>
      <option value="BUKIT PANJANG">BUKIT PANJANG</option>
      <option value="GEYLANG">GEYLANG</option>
      <option value="BUKIT TIMAH">BUKIT TIMAH</option>
      <option value="CHOA CHU KANG">CHOA CHU KANG</option>
      <option value="CLEMENTI">CLEMENTI</option>
      <option value="HOUGANG">HOUGANG</option>
      <option value="QUEENSTOWN">QUEENSTOWN</option>
      <option value="JURONG EAST">JURONG EAST</option>
      <option value="JURONG WEST">JURONG WEST</option>
      <option value="KALLANG">KALLANG</option>
      <option value="MARINE PARADE">MARINE PARADE</option>
      <option value="PASIR RIS">PASIR RIS</option>
      <option value="PUNGGOL">PUNGGOL</option>
      <option value="SEMBAWANG">SEMBAWANG</option>
      <option value="SENGKANG">SENGKANG</option>
      <option value="SERANGOON">SERANGOON</option>
      <option value="TAMPINES">TAMPINES</option>
      <option value="TOA PAYOH">TOA PAYOH</option>
      <option value="WOODLANDS">WOODLANDS</option>
      <option value="YISHUN">YISHUN</option>
    </select>

  <select class="browser-default" name="filter_flat" id="id_filter_flat">
      <option value="Studio Apartment" selected="">Studio Apartment</option>
      <option value="2-Room Flat">2-Room Flat</option>
      <option value="3-Room Flat">3-Room Flat</option>
      <option value="4-Room Flat">4-Room Flat</option>
      <option value="5-Room Flat">5-Room Flat</option>
      <option value="Executive Flat">Executive Flat</option>
    </select>

<input type="submit" class="btn btn-default" value="Apply Filter">
    </form>
    <br>
    <div class="content-section">
    <br>
    {% for post in page_obj %}
                <div class="row">
            <div class="col m11">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    {% if post.display_image.url %}
                        <a href={% url 'view_post'  post.id %}><img src="{{ post.display_image.url }}" ></a>
                    {% endif %}
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <img class="responsive-img circle" src="{{ post.user.profile.image.url }}" width="60" height="60">
                    <b>{{ post.user }}</b>
                    <br>
                        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                        </span>
                    <h5>${{ post.price|intcomma }}</h5>
                    <span><i class="material-icons small">location_city</i> {{ post.town }} </span><br>
                    <span><i class="material-icons small">view_compact</i> {{ post.flat_type }} </span> <br>
                    <span><i class="material-icons small">access_time</i> {{ post.remaining_lease }} Years </span> <br>

                    <br>
                    {% if post.description %}
                    <span><i class="material-icons small">description</i>{{ post.description }}</span>
                    {% endif %}
                    {% if user != post.user %}
                        <br>
                        <br>
                    <a href="{% url "pinax_messages:message_user_create" post.user.id post.town post.flat_type %}" class="btn btn-default  blue darken-4">Message this user</a>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}


          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="active blue darken-4"><a href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class = "waves-effect"><a  href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}

            {% if page_obj.has_next %}
                <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
        </span>
    </div>


    <br>
        </div>

    </div>
    </div>
{% endblock content %}