{% extends "base2.html" %}
{% load static %}
{% load humanize %}
{% load plotly_dash %}
{% block content %}


<head>
<style>
    .material-icons{
    display: inline-flex;
    vertical-align: top;
}

  </style>
</head>
{% if user.is_superuser %}
  <nav>
    <div class="nav-wrapper grey darken-2">
      <a href="{% url 'main' %}"  class="brand-logo"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'updateData'%}">Update Data</a></li>
      </ul>
    </div>
  </nav>
{% endif %}
    <div class="main">
    <div class="container">
    <br>
       <div class="content-section">
    <form>
    <h5><i class="material-icons small">location_city</i> Town:</h5>
    <select class="browser-default" name="filter_town" id="id_filter_town">
      <option value="ALL" {% if selectedTown ==  'ANG MO KIO'%} selected {% endif %}>ALL</option>
      <option value="ANG MO KIO" {% if selectedTown ==  'ANG MO KIO'%} selected {% endif %}>ANG MO KIO</option>
      <option value="BEDOK" {% if selectedTown ==  'BEDOK'%} selected {% endif %} >BEDOK</option>
      <option value="BISHAN" {% if selectedTown ==  'BISHAN'%} selected {% endif %}>BISHAN</option>
      <option value="BUKIT MERAH" {% if selectedTown ==  'BUKIT MERAH'%} selected {% endif %}>BUKIT MERAH</option>
      <option value="BUKIT BATOK" {% if selectedTown ==  'BUKIT BATOK'%} selected {% endif %}>BUKIT BATOK</option>
      <option value="CENTRAL AREA" {% if selectedTown ==  'CENTRAL AREA'%} selected {% endif %}>CENTRAL AREA</option>
      <option value="BUKIT PANJANG" {% if selectedTown ==  'BUKIT PANJANG'%} selected {% endif %} >BUKIT PANJANG</option>
      <option value="GEYLANG" {% if selectedTown ==  'GEYLANG'%} selected {% endif %}>GEYLANG</option>
      <option value="BUKIT TIMAH"  {% if selectedTown ==  'BUKIT TIMAH'%} selected {% endif %}>BUKIT TIMAH</option>
      <option value="CHOA CHU KANG"  {% if selectedTown ==  'CHOA CHU KANG'%} selected {% endif %}>CHOA CHU KANG</option>
      <option value="CLEMENTI"  {% if selectedTown ==  'CLEMENTI'%} selected {% endif %}>CLEMENTI</option>
      <option value="HOUGANG"  {% if selectedTown ==  'HOUGANG'%} selected {% endif %}>HOUGANG</option>
      <option value="QUEENSTOWN"  {% if selectedTown ==  'QUEENSTOWN'%} selected {% endif %}>QUEENSTOWN</option>
      <option value="JURONG EAST"  {% if selectedTown ==  'JURONG EAST'%} selected {% endif %}>JURONG EAST</option>
      <option value="JURONG WEST"  {% if selectedTown ==  'JURONG WEST'%} selected {% endif %}>JURONG WEST</option>
      <option value="KALLANG"  {% if selectedTown ==  'KALLANG'%} selected {% endif %}>KALLANG</option>
      <option value="MARINE PARADE"  {% if selectedTown ==  'MARINE PARADE'%} selected {% endif %}>MARINE PARADE</option>
      <option value="PASIR RIS"  {% if selectedTown ==  'PASIR RIS'%} selected {% endif %}>PASIR RIS</option>
      <option value="PUNGGOL"  {% if selectedTown ==  'PUNGGOL'%} selected {% endif %}>PUNGGOL</option>
      <option value="SEMBAWANG"  {% if selectedTown ==  'SEMBAWANG'%} selected {% endif %}>SEMBAWANG</option>
      <option value="SENGKANG"  {% if selectedTown ==  'SENGKANG'%} selected {% endif %}>SENGKANG</option>
      <option value="SERANGOON"  {% if selectedTown ==  'SERANGOON'%} selected {% endif %}>SERANGOON</option>
      <option value="TAMPINES"  {% if selectedTown ==  'TAMPINES'%} selected {% endif %}>TAMPINES</option>
      <option value="TOA PAYOH"  {% if selectedTown ==  'TOA PAYOH'%} selected {% endif %}>TOA PAYOH</option>
      <option value="WOODLANDS"  {% if selectedTown ==  'WOODLANDS'%} selected {% endif %}>WOODLANDS</option>
      <option value="YISHUN"  {% if selectedTown ==  'YISHUN'%} selected {% endif %}>YISHUN</option>
    </select>

    <h5><i class="material-icons small">view_compact</i>  Flat Type:</h5>
  <select class="browser-default" name="filter_flat" id="id_filter_flat">
      <option value="ALL" {% if selectedFlatType == 'Studio Apartment' %} selected {% endif %}>ALL</option>
      <option value="Studio Apartment" {% if selectedFlatType == 'Studio Apartment' %} selected {% endif %}>Studio Apartment</option>
      <option value="2-Room Flat" {% if selectedFlatType == '2-Room Flat' %} selected {% endif %}>2-Room Flat</option>
      <option value="3-Room Flat" {% if selectedFlatType == '3-Room Flat' %} selected {% endif %}>3-Room Flat</option>
      <option value="4-Room Flat" {% if selectedFlatType == '4-Room Flat' %} selected {% endif %}>4-Room Flat</option>
      <option value="5-Room Flat" {% if selectedFlatType == '5-Room Flat' %} selected {% endif %}>5-Room Flat</option>
      <option value="Executive Flat" {% if selectedFlatType == 'Executive Flat' %} selected {% endif %}>Executive Flat</option>
    </select>
    <br>
<button class="waves-effect waves-light btn blue darken-4" type="submit"><i class="material-icons left">search</i>Apply Filter</button>
    </form>
    <br>

    <br>
    {% for post in page_obj %}
                <div class="row">
            <div class="col m11">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    {% if post.display_image.url %}
                        <a href={% url 'view_post'  post.id %}><img src="{{ post.display_image.url }}" ></a>
                    {% endif %}
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <img class="responsive-img circle" src="{{ post.user.profile.image.url }}" width="60" height="60">
                    <b>{{ post.user }}</b>
                    <br>
                        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                        </span>
                    <h5>${{ post.price|intcomma }}</h5>
                    <span><i class="material-icons small">location_city</i> {{ post.town }} </span><br>
                    <span><i class="material-icons small">view_compact</i> {{ post.flat_type }} </span> <br>
                    <span><i class="material-icons small">access_time</i> {{ post.remaining_lease }} Years </span> <br>

                    <br>
                    {% if post.description %}
                    <span><i class="material-icons small">description</i>{{ post.description }}</span>
                    {% endif %}
                    {% if user != post.user %}
                        <br>
                        <br>
                    <a href="{% url "pinax_messages:message_user_create" post.user.id post.town post.flat_type %}" class="btn btn-default  blue darken-4">Message this user</a>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}


          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="active blue darken-4"><a href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class = "waves-effect"><a  href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}

            {% if page_obj.has_next %}
                <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
        </span>
    </div>


    <br>
        </div>

    </div>
    </div>
{% endblock content %}