{% extends "base2.html"%}
{% load humanize %}
{%block content%}
    <div class="container">
        <div class="content-section">

            <h4>Please fill in the details below</h4>
        <br>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}


<div class="fieldWrapper">
    <span><h5><i class="material-icons small">location_city</i> Town:  </h5>  </span>


</div>
<div class="input-field">
    <select class="browser-default" name="town" id="id_town">
      <option value="ANG MO KIO" {% if selectedTown ==  'ANG MO KIO'%} selected {% endif %}>ANG MO KIO</option>
      <option value="BEDOK" {% if selectedTown ==  'BEDOK'%} selected {% endif %} >BEDOK</option>
      <option value="BISHAN" {% if selectedTown ==  'BISHAN'%} selected {% endif %}>BISHAN</option>
      <option value="BUKIT MERAH" {% if selectedTown ==  'BUKIT MERAH'%} selected {% endif %}>BUKIT MERAH</option>
      <option value="BUKIT BATOK" {% if selectedTown ==  'BUKIT BATOK'%} selected {% endif %}>BUKIT BATOK</option>
      <option value="CENTRAL AREA" {% if selectedTown ==  'CENTRAL AREA'%} selected {% endif %}>CENTRAL AREA</option>
      <option value="BUKIT PANJANG" {% if selectedTown ==  'BUKIT PANJANG'%} selected {% endif %} >BUKIT PANJANG</option>
      <option value="GEYLANG" {% if selectedTown ==  'GEYLANG'%} selected {% endif %}>GEYLANG</option>
      <option value="BUKIT TIMAH"  {% if selectedTown ==  'BUKIT TIMAH'%} selected {% endif %}>BUKIT TIMAH</option>
      <option value="CHOA CHU KANG"  {% if selectedTown ==  'CHOA CHU KANG'%} selected {% endif %}>CHOA CHU KANG</option>
      <option value="CLEMENTI"  {% if selectedTown ==  'CLEMENTI'%} selected {% endif %}>CLEMENTI</option>
      <option value="HOUGANG"  {% if selectedTown ==  'HOUGANG'%} selected {% endif %}>HOUGANG</option>
      <option value="QUEENSTOWN"  {% if selectedTown ==  'QUEENSTOWN'%} selected {% endif %}>QUEENSTOWN</option>
      <option value="JURONG EAST"  {% if selectedTown ==  'JURONG EAST'%} selected {% endif %}>JURONG EAST</option>
      <option value="JURONG WEST"  {% if selectedTown ==  'JURONG WEST'%} selected {% endif %}>JURONG WEST</option>
      <option value="KALLANG"  {% if selectedTown ==  'KALLANG'%} selected {% endif %}>KALLANG</option>
      <option value="MARINE PARADE"  {% if selectedTown ==  'MARINE PARADE'%} selected {% endif %}>MARINE PARADE</option>
      <option value="PASIR RIS"  {% if selectedTown ==  'PASIR RIS'%} selected {% endif %}>PASIR RIS</option>
      <option value="PUNGGOL"  {% if selectedTown ==  'PUNGGOL'%} selected {% endif %}>PUNGGOL</option>
      <option value="SEMBAWANG"  {% if selectedTown ==  'SEMBAWANG'%} selected {% endif %}>SEMBAWANG</option>
      <option value="SENGKANG"  {% if selectedTown ==  'SENGKANG'%} selected {% endif %}>SENGKANG</option>
      <option value="SERANGOON"  {% if selectedTown ==  'SERANGOON'%} selected {% endif %}>SERANGOON</option>
      <option value="TAMPINES"  {% if selectedTown ==  'TAMPINES'%} selected {% endif %}>TAMPINES</option>
      <option value="TOA PAYOH"  {% if selectedTown ==  'TOA PAYOH'%} selected {% endif %}>TOA PAYOH</option>
      <option value="WOODLANDS"  {% if selectedTown ==  'WOODLANDS'%} selected {% endif %}>WOODLANDS</option>
      <option value="YISHUN"  {% if selectedTown ==  'YISHUN'%} selected {% endif %}>YISHUN</option>
</select>
    </div>
    {{ form.town.errors }}
        <br>


        <div class="fieldWrapper">
    <span><h5><i class="material-icons small">location_on</i> Postal Code:  </h5>  </span>
{#    {% if post %}#}
{#        <input type="number" name="postal_code" value={{ post.postal_code }} required="" id="id_postal_code">#}
{#    {% else %}#}
        {{ form.postal_code }}
        {{ form.postal_code.errors }}
{#    {% endif %}#}
</div>
<br>
          <button class ="btn btn-outline-info blue darken-4" name="postalCode" type="submit">Get Address</button>
        <br>
        <br>

<div class="fieldWrapper">
    <span><h5><i class="material-icons small">location_on</i> Address:  </h5>  </span>
    <input id="address" type="text" name="address" value="{{ address }}" id="id_address" >
</div>
<br>



<div class="fieldWrapper">
    <span><h5><i class="material-icons small">swap_vert</i> Floor Level:  </h5>  </span>
    {{ form.floor_number }}
    {{ form.floor_number.errors }}
</div>
        <br>
<div class="fieldWrapper">
    <span><h5><i class="material-icons small">view_compact</i> Flat Type:  </h5>  </span>
    <select class="browser-default" name="flat_type" id="id_flat_type">
      <option value="Studio Apartment" {% if selectedFlatType == 'Studio Apartment' %} selected {% endif %}>Studio Apartment</option>
      <option value="2-Room Flat" {% if selectedFlatType == '2-Room Flat' %} selected {% endif %}>2-Room Flat</option>
      <option value="3-Room Flat" {% if selectedFlatType == '3-Room Flat' %} selected {% endif %}>3-Room Flat</option>
      <option value="4-Room Flat" {% if selectedFlatType == '4-Room Flat' %} selected {% endif %}>4-Room Flat</option>
      <option value="5-Room Flat" {% if selectedFlatType == '5-Room Flat' %} selected {% endif %}>5-Room Flat</option>
      <option value="Executive Flat" {% if selectedFlatType == 'Executive Flat' %} selected {% endif %}>Executive Flat</option>
    </select>
    {{ form.flat_type.errors }}
</div>
<br>
        <div class="fieldWrapper">
        <span><h5><i class="material-icons small">straighten</i> Floor Area (square meters): </h5>  </span>
        {{ form.floor_area }}
        {{ form.floor_area.errors }}
        </div>
<br>
        <div class="fieldWrapper">
        <span><h5><i class="material-icons small">access_time</i> Remaining Lease (years):  </h5>  </span>
        {{ form.remaining_lease }}
        {{ form.remaining_lease.errors }}
        </div>
<br>
          <button class ="btn btn-outline-info blue darken-4" name="predictPrice" type="submit">Get Recommended Price</button>
        <br>
        <br>
        <div class="fieldWrapper">
        <span><h5><i class="material-icons small">attach_money</i> Price:  </h5>  </span>
        {{ form.price }}
        {{ form.price.errors }}
        </div>
<br>
<br>
        <div class="fieldWrapper">
        <span><h5> Recommended Price: $ {{ recommendedPrice|intcomma }} </h5>  </span>
        <input type="hidden" name="recommended_price" value={{ recommendedPrice }} required="" id="id_recommended_price">
        </div>
<br>
        <div class="fieldWrapper">
        <span><h5><i class="material-icons small">description</i> Description:  </h5>  </span>
        {{ form.description }}
        </div>
<br>
        <div class="fieldWrapper">
        <span><h5><i class="material-icons small">image</i> Display Image:  </h5>  </span>
        {{ form.display_image }}
        </div>
<br>
        <div class="fieldWrapper">
        <span><h5><i class="material-icons small">image</i> Gallery Image 1:  </h5>  </span>
        {{ form.gallery_image_0 }}
        </div>
<br>
                <div class="fieldWrapper">
        <span><h5><i class="material-icons small">image</i> Gallery Image 2:  </h5>  </span>
        {{ form.gallery_image_1 }}
        </div>
<br>
                <div class="fieldWrapper">
        <span><h5><i class="material-icons small">image</i> Gallery Image 3:  </h5>  </span>
        {{ form.gallery_image_2 }}
        </div>
<br>
                <div class="fieldWrapper">
        <span><h5><i class="material-icons small">image</i> Gallery Image 4:  </h5>  </span>
        {{ form.gallery_image_3 }}
        </div>
<br>

        <button class ="btn btn-outline-info blue darken-4" name="done" type="submit">Submit</button>
    </form>
  </div>
</div>

{% endblock content %}