{% extends "base2.html"%}
{% load humanize %}
{%block content%}
    <div class="container">
        <div class="content-section">

            <h4>Please fill in the details below</h4>
        <br>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}


<div class="fieldWrapper">
    <span><h5><i class="material-icons small">location_city</i> Town:  </h5>  </span>


</div>
<div class="input-field">
    <select class="browser-default" name="town" id="id_town">
      <option value="ANG MO KIO">ANG MO KIO</option>
      <option value="BEDOK" selected="">BEDOK</option>
      <option value="BISHAN">BISHAN</option>
      <option value="BUKIT MERAH">BUKIT MERAH</option>
      <option value="BUKIT BATOK">BUKIT BATOK</option>
      <option value="CENTRAL AREA">CENTRAL AREA</option>
      <option value="BUKIT PANJANG">BUKIT PANJANG</option>
      <option value="GEYLANG">GEYLANG</option>
      <option value="BUKIT TIMAH">BUKIT TIMAH</option>
      <option value="CHOA CHU KANG">CHOA CHU KANG</option>
      <option value="CLEMENTI">CLEMENTI</option>
      <option value="HOUGANG">HOUGANG</option>
      <option value="QUEENSTOWN">QUEENSTOWN</option>
      <option value="JURONG EAST">JURONG EAST</option>
      <option value="JURONG WEST">JURONG WEST</option>
      <option value="KALLANG">KALLANG</option>
      <option value="MARINE PARADE">MARINE PARADE</option>
      <option value="PASIR RIS">PASIR RIS</option>
      <option value="PUNGGOL">PUNGGOL</option>
      <option value="SEMBAWANG">SEMBAWANG</option>
      <option value="SENGKANG">SENGKANG</option>
      <option value="SERANGOON">SERANGOON</option>
      <option value="TAMPINES">TAMPINES</option>
      <option value="TOA PAYOH">TOA PAYOH</option>
      <option value="WOODLANDS">WOODLANDS</option>
      <option value="YISHUN">YISHUN</option>
</select>
    </div>
        <br>


        <div class="fieldWrapper">
    <span><h5><i class="material-icons small">location_on</i> Postal Code:  </h5>  </span>
    {{ form.postal_code }}
</div>
<br>
          <button class ="btn btn-outline-info" name="postalCode" type="submit">Get Address</button>
        <br>
        <br>

<div class="fieldWrapper">
    <span><h5><i class="material-icons small">location_on</i> Address:  </h5>  </span>
    <input id="address" type="text" name="address" value="{{ address }}" required="" id="id_address" >
</div>
<br>



<div class="fieldWrapper">
    <span><h5><i class="material-icons small">swap_vert</i> Floor Level:  </h5>  </span>
    {{ form.floor_number }}
</div>
        <br>
<div class="fieldWrapper">
    <span><h5><i class="material-icons small">view_compact</i> Flat Type:  </h5>  </span>
    <select class="browser-default" name="flat_type" id="id_flat_type">
      <option value="Studio Apartment">Studio Apartment</option>
      <option value="2-Room Flat" selected="">2-Room Flat</option>
      <option value="3-Room Flat">3-Room Flat</option>
      <option value="4-Room Flat">4-Room Flat</option>
      <option value="5-Room Flat">5-Room Flat</option>
      <option value="Executive Flat">Executive Flat</option>
    </select>
</div>
<br>
        <div class="fieldWrapper">
        <span><h5><i class="material-icons small">straighten</i> Floor Area (square meters): </h5>  </span>
        {{ form.floor_area }}
        </div>
<br>
        <div class="fieldWrapper">
        <span><h5><i class="material-icons small">access_time</i> Remaining Lease (years):  </h5>  </span>
        {{ form.remaining_lease }}
        </div>
<br>
          <button class ="btn btn-outline-info" name="predictPrice" type="submit">Get Recommended Price</button>
        <br>
        <br>
        <div class="fieldWrapper">
        <span><h5><i class="material-icons small">attach_money</i> Price:  </h5>  </span>
        {{ form.price }}
        </div>
<br>
<br>
        <div class="fieldWrapper">
        <span><h5> Recommended Price: $ {{ recommendedPrice|intcomma }} </h5>  </span>
        <input type="hidden" name="recommended_price" value={{ recommendedPrice }} required="" id="id_recommended_price">
{#        {{ form.recommended_price }}#}
        </div>
<br>
        <div class="fieldWrapper">
        <span><h5><i class="material-icons small">description</i> Description:  </h5>  </span>
        {{ form.description }}
        </div>
<br>
        <div class="fieldWrapper">
        <span><h5><i class="material-icons small">image</i> Display Image:  </h5>  </span>
        {{ form.display_image }}
        </div>
<br>
        <div class="fieldWrapper">
        <span><h5><i class="material-icons small">image</i> Gallery Image 1:  </h5>  </span>
        {{ form.gallery_image_0 }}
        </div>
<br>
                <div class="fieldWrapper">
        <span><h5><i class="material-icons small">image</i> Gallery Image 2:  </h5>  </span>
        {{ form.gallery_image_1 }}
        </div>
<br>
                <div class="fieldWrapper">
        <span><h5><i class="material-icons small">image</i> Gallery Image 3:  </h5>  </span>
        {{ form.gallery_image_2 }}
        </div>
<br>
                <div class="fieldWrapper">
        <span><h5><i class="material-icons small">image</i> Gallery Image 4:  </h5>  </span>
        {{ form.gallery_image_3 }}
        </div>
<br>

        <button class ="btn btn-outline-info" name="done" type="submit">Submit</button>
    </form>
  </div>
</div>

{% endblock content %}