{% extends "base2.html"%}
{% load humanize %}
{%block content%}
<head>
  <style>
    .material-icons{
        display: inline-flex;
        vertical-align: top;
    }
    .banner
    {
        width: 100%;
      z-index: -1;
    }

    div.gallery {
      margin: 5px;
      border: 1px solid #ccc;

      width: 100%;
    }

    div.gallery:hover {
      border: 1px solid #777;
    }

    div.gallery img {
      width: 100%;
      height: auto;
    }



    .responsive {
      padding: 0 6px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      width: 60%;
    }




  </style>
</head>

 <img class="banner" src="{{ post.display_image.url }}" >
<div class="container">
    <div class="content-section">

    <h2>{{ post.town }}</h2>

      <div class="card grey lighten-3">
        <div class="card-content ">
            <h5>${{ post.price|intcomma }}</h5>
            <span><i class="material-icons small">location_city</i> {{ post.town }} </span><br>
            <span><i class="material-icons small">location_on</i> {{ post.address }} </span> <br>
            <span><i class="material-icons small">swap_vert</i> Level {{ post.floor_number }} </span> <br>
            <span><i class="material-icons small">view_compact</i> {{ post.flat_type }} </span> <br>
            <span><i class="material-icons small">straighten</i> {{ post.floor_area }} Square Feet </span> <br>
            <span><i class="material-icons small">access_time</i> {{ post.remaining_lease }} Years </span> <br>

            <br>
            {% if post.description %}
            <span><i class="material-icons small">description</i>{{ post.description }}</span>
            {% endif %}
        <br>
        <br>
        <br>

        <a class="waves-effect waves-light btn" href={% url 'favorite' post.id %}><i class="material-icons right">
            {% if favorited %}
                favorite
            {% else %}
                favorite_border
            {% endif %}
        </i>favorite</a>

        </div>
      </div>


{#      <div class="card">#}
{#              <ul class="tabs">#}
{#                <li class="tab col s3"><a href="#test1">Image 1     </a></li>#}
{#                <li class="tab col s3"><a class="active" href="#test2">Image 2     </a></li>#}
{#                <li class="tab col s3"><a href="#test3">Image 3     </a></li>#}
{#                <li class="tab col s3"><a href="#test4">Image 4     </a></li>#}
{#              </ul>#}
{#            <div id="test1" class="col s12"><img class="banner" src="{{ post.gallery_image_0.url }}"></div>#}
{#            <div id="test2" class="col s12"><img class="banner" src="{{ post.gallery_image_1.url }}"></div>#}
{#            <div id="test3" class="col s12"><img class="banner" src="{{ post.gallery_image_2.url }}"></div>#}
{#            <div id="test4" class="col s12"><img class="banner" src="{{ post.gallery_image_3.url }}"></div>#}
{#      </div>#}
{#      <script>#}
{#        var el = document.querySelector('.tabs');#}
{#        var instance = M.Tabs.init(el, {});#}
{#      </script>#}




<br>
<br>
<h3>Gallery</h3>
    </div>
</div>



<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{{ post.gallery_image_0.url }}">
      <img src="{{ post.gallery_image_0.url }}">
    </a>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{{ post.gallery_image_1.url }}">
      <img  src="{{ post.gallery_image_1.url }}">
    </a>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{{ post.gallery_image_2.url }}">
      <img src="{{ post.gallery_image_2.url }}">
    </a>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{{ post.gallery_image_3.url }}">
      <img src="{{ post.gallery_image_3.url }}">
    </a>
  </div>
</div>

    <div class="container">
    <div class="content-section">
 {{ plot | safe }}
    </div>
    </div>

{% endblock content %}