{% extends "base2.html" %}

{% block body_class %}{{ block.super }}{% endblock %}

{#{% load bootstrap %}#}

{% block body %}
    <div class="container">
<div class="pinax-messages-create-container">
    <h4>New Message</h4>

    <form class="comment-form" action="{% url "pinax_messages:message_create" %}" method="post">
        {% csrf_token %}
        {{ form }}
{#        <input type="hidden" name="subject" value={{ listing }} required="" id="id_subject">#}
{#        <textarea name="content" cols="40" rows="10" required="" id="id_content"></textarea>#}

        <div class="form-actions">
            <br>
            <button class="waves-effect waves-light btn blue darken-4"><i class="material-icons left">send</i>Send</button>
            <button class="waves-effect waves-light btn blue darken-4"><a style="color: white" href="{% url "pinax_messages:inbox" %}">Cancel</a></button>
        </div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
    </div>
{% endblock %}