{% load static %}

<html>

<style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      main {
        flex: 1 0 auto;
  }
</style>
    <head>
        <title>{% block title %}HOMEBASE{% endblock %}</title>
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </head>

    <body>

    </body>
  </html>
<nav>
    <div class="nav-wrapper grey lighten-5">
      <a href="#" class="brand-logo"><img src= "{% static 'media/Logo.png' %}"  width="200" height="60" }} ></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>



{% block content %}

{% endblock content%}


<main></main>
        <footer class="page-footer blue darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">HOMEBASE</h5>
                <p class="grey-text text-lighten-4">Find your dream home now</p>
              </div>
              <div class="col l4 offset-l2 s12">
{#                <h5 class="white-text">Links</h5>#}
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About Homebase</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Terms of Service</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Get Support</a></li>
{#                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>#}
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <i class="material-icons">copyright</i> Homebase 2020. All rights reserved.
            <a class="grey-text text-lighten-4 right" href="#!"> <i class="material-icons">help</i></a>
            </div>
          </div>
        </footer>
