{% extends "base2.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<head>
  <style>
      .material-icons{
        display: inline-flex;
        vertical-align: top;}
    .banner
    {
        width: 100%;
      z-index: -1;
    }
    .profile
    {
        border-radius: 50%;
    }

    .content {
    width: 400px;
    z-index: 1;
    position: relative;
    top: -100px;
    left: 3%;
}

    .content img {
        margin-right: 15px;
        float: left;
        z-index: 1;
        border-radius: 50%;
    }

    .content h3{
        color: white;
    }
  </style>
</head>
    <div class="content-section">
        <img class="banner" src={% static 'media/tech-banner.jpg' %}  height="350">

        <div class="content">
            <img src="{{ user.profile.image.url }}" width="120" height="120">
            <h3>{{ user.username }}</h3>
        </div>
    <div class="container">

{#    <h4>User Details</h4>#}



          <div class="card">
            <div class="card-content">
                {% if u_form %}
                <span class="card-title activator"><i class="material-icons right">edit</i></span>
                <br>
                {% endif %}
                <span><i class="material-icons left small">person</i> {{ user.first_name }} {{ user.last_name }}</span>
                <br>
                <br>
                <span><i class="material-icons left small">contact_mail</i> {{ user.email }}</span>
                <br>
                <br>
                <span><i class="material-icons left small">contact_phone</i> {{ user.profile.contactNumber }}</span>
                <br>
                <br>
                <span><i class="material-icons left small">date_range</i> Joined on {{ user.profile.date_joined|date:"F d, Y" }}</span>
                <br>
                <br>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Edit Profile<i class="material-icons right">close</i></span>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                  {{ u_form.as_p }}
                  {{ p_form.as_p }}
                <button class ="btn btn-outline-info blue darken-4" type="submit">Submit</button>
            </form>
            </div>
          </div>

        <br>
        {% if posts %}
        <h4>Posts</h4>
        <br>
        {% for post in posts %}
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    {% if post.display_image.url %}
                  <a href={% url 'view_post'  post.id %}><img src="{{ post.display_image.url }}" ></a>
                    {% endif %}
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <img class="circle" src="{{ post.user.profile.image.url }}" width="60" height="60">
                    <b>{{ post.user }}</b>
                    <br>
                        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                    </span>
                    <h5>${{ post.price|intcomma }}</h5>
                    <span><i class="material-icons small">location_city</i> {{ post.town }} </span><br>
                    <span><i class="material-icons small">view_compact</i> {{ post.flat_type }} </span> <br>
                    <span><i class="material-icons small">access_time</i> {{ post.remaining_lease }} Years </span> <br>

                    <br>
                    {% if post.description %}
                    <span><i class="material-icons small">description</i>{{ post.description }}</span>
                    {% endif %}
                    <br>
                    <br>
                {% if u_form %}
                    <a class="waves-effect waves-light btn white-text blue darken-4" href={% url 'post-update' post.id %}><i class="material-icons right">edit</i>edit</a>
                    <a class="waves-effect waves-light btn white-text blue darken-4"  href={% url 'post-delete' post.id %} ><i class="material-icons right">delete</i>delete</a>
                {% endif %}
                </div>
              </div>
        {% endfor %}
    {% endif %}

    {% if u_form %}
        <h4>Favorites</h4>
        <br>
        {% for post in profile.favorites.all %}
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    {% if post.display_image.url %}
                  <a href={% url 'view_post'  post.id %}><img src="{{ post.display_image.url }}" ></a>
                    {% endif %}
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <img class="responsive-img circle" src="{{ post.user.profile.image.url }}" width="60" height="60">
                    <b>{{ post.user }}</b>
                    <br>
                        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                    </span>
                    <h5>${{ post.price|intcomma }}</h5>
                    <span><i class="material-icons small">location_city</i> {{ post.town }} </span><br>
                    <span><i class="material-icons small">view_compact</i> {{ post.flat_type }} </span> <br>
                    <span><i class="material-icons small">access_time</i> {{ post.remaining_lease }} Years </span> <br>

                    <br>
                    {% if post.description %}
                    <span><i class="material-icons small">description</i>{{ post.description }}</span>
                    {% endif %}
                    <br>
                    <br>
                    <a class="waves-effect waves-light btn blue darken-4 white-text" href={% url 'unfavorite' post.id %}><i class="material-icons right"></i>unfavorite</a>
                </div>
              </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock content %}
